html {
    scroll-snap-type: y mandatory;
}

.app {
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}

.app_videos {
    position: relative;
    height: 600px;
    width: 500px;
    border-radius: 20px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

/* Hide scrollbar for crome, safari and opera */
.app_videos::-webkit-scrollbar {
    display: none;
  }

/* Hide scrol;bar for IE, Edge, and Firefox */
.app_videos {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

